*.la
*.lo
*.o
.deps
.libs
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libaejson/json-parse.c
libaejson/json-parse.h
libaejson/json-scan.c
libaejson/json-scan.h
libtool
ltmain.sh
m4/
missing
test/aej-test
ylwrap
